---
import HeaderLink from '@/components/HeaderLink'
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'

// ADD YOUR SOCIAL NETWORKS HERE
const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/nirzaf',
		icon: GithubIcon
	},

	{
		name: 'LinkedIn',
		url: 'https://www.linkedin.com/in/mfmfazrin/',
		icon: TwitterIcon
	}
]
---

<header class='relative flex items-center h-12 font-semibold justify-between'>
	<div class='flex items-center gap-2'>
		<a class='text-lg hidden md:inline' href='/'>Home</a>
		<a class='text-lg hidden md:inline' href='/about'>About</a>
	</div>

	<div class='flex items-center gap-3'>
		<HeaderLink href='/tags' class='flex items-center gap-1'>
			<TagIcon /> <span class="hidden md:inline">Tags</span>
		</HeaderLink>

		<div class="hidden md:flex items-center gap-3">
			{SOCIALNETWORKS.map((network) => (
				<HeaderLink href={network.url} target='_blank' aria-label={network.name}>
					<span>{<network.icon />}</span>
				</HeaderLink>
			))}
		</div>

		<Search />
		<ToggleTheme />
		
		<button id='astro-header-drawer-button' type='button' class='md:hidden'>
			<MenuIcon />
			<span class='sr-only'>Show Menu</span>
		</button>
	</div>

	<div
		id='astro-header-drawer'
		class='shadow rounded-l-lg md:hidden bg-white dark:bg-[#0a0910] absolute transition-transform duration-300 ease-in translate-x-96 top-12 -right-5 pl-4 pt-6 pb-4 h-[300px] w-[200px] z-50'
	>
		<nav class='flex flex-col gap-4'>
			<a href='/' class='text-2xl'>Home</a>
			<a href='/about' class='text-2xl'>About</a>
			{SOCIALNETWORKS.map((network) => (
				<HeaderLink href={network.url} target='_blank' aria-label={network.name}>
					<span>{<network.icon />} {network.name}</span>
				</HeaderLink>
			))}
		</nav>
	</div>
</header>

<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
